extends base.pug

block scripts
    script(src='/static/script.js')

block style
    style
        include ../static/style.css

block content
    body
        section#introSection
            div Welcome to Mohit's Dance Academy
            div.small Eat Sleep Dance Repeat

        section#missionSection
            h1 Our &nbsp; Mission
            div.card 
                h3 Dance Perfection
                
            div.card 
                h3 Dance the way you like

            div.card 
                h3 Expert Teaching

        section#sponsorsSection
            h1 Our &nbsp; Sponsors
