h1{
    text-align: center;
    margin: 12px 0;
}

.container{
    min-height: 83.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myInput{
    width: 40%;
    padding: 8px;
    margin: 7px;
    font-size: 16px;
    border: 2px solid darkslategrey;
    border-radius: 7px;
    outline: none;
    color: darkslategray;
}

.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    background-color: darkslategray;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    background-color: salmon;
}